<html lang="en">
    <head><title>JAAQL Sentinel Error</title></head>
    <body>
        JAAQL Sentinel has spotted an error with {{SOURCE_SYSTEM}} V{{VERSION}} that occurred at {{CREATED}}<br>
        A full stacktrace can be found below<br>
        <pre>{{STACKTRACE}}</pre>
        To view this error in the application please visit
        <a href="{{BASE_URL}}/www/apps/sentinel/index.html?error_id={{ERROR_ID}}">{{BASE_URL}}/apps/sentinel/index.html?error_id={{ERROR_ID}}</a>
    </body>
</html>