<html lang="en">
    <head><title>JAAQL Sentinel Error</title></head>
    <body>
        JAAQL Sentinel has detected a slow response time with managed service {{NAME}} that occurred at {{CHECK_AT}}<br>
        Response took {{RESPONSE_TIME_MS}}ms which is over the threshold of {{RESPONSE_TIME_ALERT_THRESHOLD_MS}}ms when calling endpoint {{URL}}<br>
        To view this error in the application please visit
        <a href="{{BASE_URL}}/apps/sentinel/index.html?managed_check_id={{MANAGED_SERVICE_CHECK_ID}}">{{BASE_URL}}/apps/sentinel/index.html?managed_check_id={{MANAGED_SERVICE_CHECK_ID}}</a>
    </body>
</html>